:root {
  --color-primary: #fff;
  --color-bg: rgba(52, 61, 75, 1);
  --color-primary-inverted: #000;
  --color-card-bg: rgba(39, 46, 55, 1);
  --color-card-bg-inverted: rgba(58, 67, 79, 1);
  --color-bg-main: rgba(34, 40, 49, 1);
  --gradient: linear-gradient(130.70deg, rgba(144, 217, 224, 0.9), rgba(84.00000762939453, 95.99999237060547, 230, 0.9) 100%);
  --gradient-inverted: linear-gradient(230.46deg, rgba(144, 217, 224, 0.9), rgba(84.00000762939453, 95.99999237060547, 230, 0.9) 100%);
  
  --border-radius: 10px;
  --box-shadow: 1px 2px 4px 0px rgba(34, 40, 49, 1);

  --font-family: "Montserrat", sans-serif;
  --font-size: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-primary);
  background-color: var(--color-bg);
  font-family: var(--font-family);
  font-size: var(--font-size);

  display: grid;
  place-items: center;
  min-height: 100vh;
}